.btn {
    margin: 10px 0;
    padding: 15px 40px;
    font-size: 1.1em;
    text-transform: uppercase;
    color: var(--light);
    background-color: transparent;
    border: 1px solid var(--light);
    border-radius: 4px;
    cursor: pointer;
    transition-duration: 1s;
}

.btn:hover {
    background-color: var(--light);
    color: var(--dark);
}

.btn:focus {
    outline: 1px solid var(--light);
    background-color: var(--light);
    color: var(--dark);
}
