.FormContainer {
    text-align: center;
}

.Form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin: 0 auto;
    width: 96%;
    max-width: 600px;
    margin-bottom: 100px;
}

.FormLine {
    display: flex;
    flex-wrap: wrap;
    gap: 1em;
    margin: 10px 0;
    align-items: center;
}

.FormLine > div {
    display: flex;
    column-gap: 1em;
}
