.FormContainer {
    text-align: center;
    margin: 0 auto;
    width: 96%;
    max-width: 600px;
    position: relative;
}

.Form {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 100px;
}

.Label {
    text-align: left;
}

.InputContainer {
    display: flex;
    flex-direction: column;
}

.FormLine {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-end;
    gap: 1em;
    margin: 10px 0;
}

.FormLine > div {
    display: flex;
    column-gap: 1em;
    margin-bottom: 0;
}

.DatePicker {
    line-height: normal;
}
