.Section {
    padding: 2em;
}

.TreatmentsTable {
    width: 100%;
}

.TreatmentsTable tr > *:nth-child(2) {
    text-wrap: nowrap;
    max-width: 10ch;
    overflow: hidden;
    text-overflow: ellipsis;
}

.TreatmentsTable tr.Inactive {
    background-color: var(--neutral);
}