.Section {
    padding: 2em;
}

.RoomsTable {
    width: 100%;
}

.RoomsTable tr > *:nth-child(2) {
    text-wrap: nowrap;
    max-width: 10ch;
    overflow: hidden;
    text-overflow: ellipsis;
}

.RoomsTable tr.Inactive {
    background-color: var(--neutral);
}

.Button {
    margin-top: -10px;
    display: flex;
    justify-content: end;
    font-size: .8em;
}