.Section {
    padding: 2em;
}

.SchedulesTableWrapper {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
}

.SchedulesTableWrapper h4 {
    font-weight: bold;
    text-transform: capitalize;
}

.SchedulesTableCard {
    width: 100%;
    max-width: 400px;
    padding: 2em 1.5em;
    border: 1px solid var(--light);
    border-radius: 8px;
    box-shadow: 5px 5px 25px grey;
}

.SchedulesTableHeader {
    display: grid;
    grid-template-columns: 1fr auto;
}

.Button {
    margin-top: -10px;
    display: flex;
    justify-content: flex-start;
    font-size: .8em;
}

@media only screen and (min-width: 768px) {
    .Button {
        justify-content: flex-end;
    }
  }