.modalbackdrop {
    position: fixed;
    inset: 0;
    color: var(--dark);
    background-color: rgba(40, 39, 42, .4);
    isolation: isolate;
    backdrop-filter: blur(2px);
    z-index: 1;
}

.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 1em;
    width: 80%;
    max-width: 600px;
    min-height: 20%;
    background-color: var(--light);
    border-radius: 5px;

    display: grid;
    align-items: center;
    justify-content: center;
}

.modal:focus {
    outline: solid 1px var(--light);
}

.btn {
    margin: 10px 0;
    padding: 15px 40px;
    font-size: 1.1em;
    text-transform: uppercase;
    color: var(--dark);
    background-color: transparent;
    border: 1px solid var(--dark);
    border-radius: 4px;
    cursor: pointer;
    transition-duration: 1s;
}

.btn:hover,
.btn:focus {
    background-color: var(--dark);
    color: var(--light);
}

.modal button.close {
    padding: 2px;
    border-radius: 3px;
    cursor: pointer;
    position: absolute;
    top: 7px;
    right: 10px;
    border: none;
    background-color: transparent;
}

.modal button.close:hover > span {
    font-weight: 900;
    color: var(--error);
}

.modal button:focus {
    box-shadow: none;
    outline: 1px solid var(--medium);
}

.modal button:focus > span {
    font-weight: 900;
    color: var(--error);
}

.modal button > span {
    font-size: 3em;
}