.Nav {
    display: flex;
    padding: 10px;
}

.Nav > div:last-child {
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.Logo,
.Links {
    display: flex;
    font-size: 1.3em;
    align-items: center;
}

.Logo > p {
    margin-left: 20px;
}

.Logo a,
.Links a,
.Links button {
    margin: 0 10px;
    text-decoration: none;
    color: var(--primary300);
}

.Logo a {
    font-family: var(--logo);
    font-size: 2em;
}

.Logo h1 {
    margin: 0;
}

.Links button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    font-size: 1em;
}

.Logo a:hover,
.Links a:hover,
.Links button:hover {
    color: var(--primary400)
}

.Logo a:focus {
    outline: none;
    color: var(--primary400);
}

.Links a:focus,
.Links button:focus {
    outline: 2px solid var(--primary300);
    border-radius: 3px;
    color: var(--primary400);
}