@import url('https://fonts.googleapis.com/css2?family=Carattere&family=Josefin+Slab:ital,wght@0,100;0,200;0,300;0,400;1,100;1,200;1,300;1,400;1,500&display=swap');

:root {
  --logo: 'Carattere', cursive;
  --serif: 'Josefin Slab', serif;

  --light: rgb(254, 252, 250);
  --grey: rgb(248, 245, 243);
  --neutral: rgb(246, 224, 224);
  --dark: rgb(36, 35, 35);

  --primary100: rgb(246, 199, 192);
  --primary200: rgb(224, 181, 174);
  --primary300: rgb(199, 161, 156);
  --primary400: rgb(143, 115, 111);
  --primary500: rgb(107, 73, 68);
  --primary600: rgb(89, 58, 53);
  --primary700: rgb(43, 38, 37);

  --secondary300: rgb(222, 164, 55);

  --success: rgb(168, 224, 168);
  --error: rgb(224, 99, 136);
  --alert: rgb(255, 228, 178);
}

body {
  margin: 0;
  padding: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--light);
  color: var(--primary400);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
